<h1>Editing Product Search Model</h1>

<%= render 'form', product_search_model: @product_search_model %>

<%= link_to 'Show', @product_search_model %> |
<%= link_to 'Back', product_search_models_path %>
