<!DOCTYPE html>
<html>
  <head>
    <title>ProductSearch</title>
    <div class="jumbotron text-center">
      <h2>Semantics3 Product Search</h2>
    </div>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    Copyright &copy; 2017 Alan Xu
  </footer>
</html>
